<%- include ('../layouts/adminHeader.ejs') %>

<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link " href="/admin/products">
        <i class="bi bi-grid"></i>
        <span>Product</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link " href="/admin/users">
        <i class="bi bi-grid"></i>
        <span>User</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/category">
        <i class="bi bi-grid"></i>
        <span>Category</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link " href="/admin/banners">
        <i class="bi bi-grid"></i>
        <span>banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Order and Payment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Sales Report</span>
      </a>
    </li>
    
    
    
  </ul>

</aside>


        <div class="layout-page" style="margin-left: 25%; ">
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            
          </nav>
          <div ><form action="/admin/addProducts" method="post" enctype="multipart/form-data">
            <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card mb-4">
              <h5 class="card-header">Add Product</h5>
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="html5-text-input" class="col-md-2 col-form-label">Product name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="Name of the products" id="html5-text-input" name="name" required />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Quantity</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="200" id="html5-number-input" name="stock" required />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Category</label>
                  <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" aria-placeholder="" name="category" >
                    <option disabled selected>select any category</option>
                    <% if(category){ %>
                      <% for(let i=1;i <= category.length; i++){ %>
                        <option value="<%= category[i-1].name %>">
                          <%= category[i-1].name %>
                        </option>
                        <% } %>
                      <% }else{ %>
                        <h1>No Categories to add</h1>
                      <% } %>  
                  </select>
                </div>
                <div class="mb-3 row">
                    <label for="exampleFormControlTextarea1" class="form-label">Product description</label>
                  <div class="col-md-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3" required ></textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Price</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" name="price" value="15" id="html5-number-input" required />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-date-input" class="col-md-2 col-form-label">Date</label>
                  <div class="col-md-10">
                    <input class="form-control" type="date" name="date" value="2022-02-17" id="html5-date-input"  />
                  </div>
                </div>

              <h5 class="card-title">File input</h5>
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Select image to upload</label>
                  <input class="form-control" accept="image/*" name="image" type="file" id="formFileMultiple" multiple required/>
                </div>
              
              </div>
            </div>
            </div>
            </div>   
            <div class="buy-now">
              <button type="submit"  class="btn btn-success btn-buy-now">ADD PRODUCT</button>
            </div> 
            </form>      
          </div>
          <%- include ('../layouts/adminFooter.ejs') %>