  <!--====== Main Footer ======-->
  <footer>
    <div class="outer-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="outer-footer__content u-s-m-b-40">
              <span class="outer-footer__content-title">Contact Us</span>
              <div class="outer-footer__text-wrap">
                <i class="fas fa-home"></i>

                <span>Malappuram Areecode</span>
              </div>
             
              <div class="outer-footer__text-wrap">
                <i class="far fa-envelope"></i>

                <span>harshanputhanpurakkal@gmail.com</span>
              </div>
              <div class="outer-footer__social">
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="outer-footer__content u-s-m-b-40">
                  <span class="outer-footer__content-title"
                    ></span
                  >
                  
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="outer-footer__content u-s-m-b-40">
                  <div class="outer-footer__list-wrap">
                    <span class="outer-footer__content-title"
                      ></span
                    >

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="outer-footer__list-wrap">
              <ul>
                <li>
                  <a href="/cart">Cart</a>
                </li>
                <li>
                  <a href="/dashboard">Account</a>
                </li>
               
                
                <li>
                  <a href="/productShow">Shop</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="lower-footer__content">
              <div class="lower-footer__copyright">
                <span>Copyright © CyCycle</span>

                <a href="index.html">Reshop</a>

                <span>All Right Reserved</span>
              </div>
              <div class="lower-footer__payment">
                
                  <ul>
                    <li>
                      <a class="s-fb--color-hover" href="https://www.facebook.com/harshan.saligramath.3"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                   
                    <li>
                      <a class="s-youtube--color-hover" href="https://studio.youtube.com/channel/UCkhce_ByM68njS6RdTSYrJg/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D"
                        ><i class="fab fa-youtube"></i
                      ></a>
                    </li>
                    <li>
                      <a class="s-insta--color-hover" href="https://www.instagram.com/harshan_s_chlt/"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                   
                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    window.ga = function () {
      ga.q.push(arguments);
    };
    ga.q = [];
    ga.l = +new Date();
    ga("create", "UA-XXXXX-Y", "auto");
    ga("send", "pageview");
  </script>
  <script
    src="https://www.google-analytics.com/analytics.js"
    async
    defer
  ></script>

  <!--====== Vendor Js ======-->
  <script src="js/vendor.js"></script>

  <!--====== jQuery Shopnav plugin ======-->
  <script src="js/jquery.shopnav.js"></script>

  <!--====== App ======-->
  <script src="js/app.js"></script>

  <!--====== Noscript ======-->
  <noscript>
    <div class="app-setting">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="app-setting__wrap">
              <h1 class="app-setting__h1">
                JavaScript is disabled in your browser.
              </h1>

              <span class="app-setting__text"
                >Please enable JavaScript in your browser or upgrade to a
                JavaScript-capable browser.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </noscript>
</body>
</html>




