
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " href="/orders">
          <i class="bi bi-grid"></i>
          <span>My Orders</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="ts">
          <i class="bi bi-grid"></i>
          <span>Coupons</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/cart">
          <i class="bi bi-grid"></i>
          <span>Cart</span>
        </a>
      </li>
      
      
      
      
      
    </ul>
  
  </aside><!-- End Sidebar-->