
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li  >
        <a class="nav-link ">
          <i  ></i>
          <span style="color: brown;font-size: 25px;">Hello <br><%-user%>,</span>

        <!-- <div class="h5"></div> -->

        </a>
      </li><!-- End Dashboard Nav -->
      <!-- <li class="nav-item">
        <a class="nav-link " href="ts">
          <i class="bi bi-grid"></i>
          <span>Coupons</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link " href="/address">
          <i class="bi bi-grid"></i>
          <span>Manage Addresses</span>
        </a>
      </li>
      
      
      
      
      
    </ul>
  
  </aside><!-- End Sidebar-->