
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<div class="card mb-3 bg-light" style="margin-left: 25%;margin-right: 25%;margin-top: 7%;">
    <div class="card-header py-3">
      <h5 class="mb-0">Add new Address</h5>
    </div>
    <div class="card-body">
      <form method="post" action="/laddress">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form7Example1" class="form-control" name="firstname" />
              <label class="form-label" for="form7Example1">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form7Example2" class="form-control" name="lastname" />
              <label class="form-label" for="form7Example2">Last name</label>
            </div>
          </div>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input type="text" id="form7Example3" class="form-control" name="address" />
          <label class="form-label" for="form7Example3">Address</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input type="text" id="form7Example4" class="form-control" name="city" />
          <label class="form-label" for="form7Example3">city</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="form7Example5" class="form-control" name="state" />
          <label class="form-label" for="form7Example5">state</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="text" id="form7Example6" class="form-control" name="country" />
          <label class="form-label" for="form7Example6">country</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <input type="number" id="form7Example6" class="form-control" name="pin" />
          <label class="form-label" for="form7Example6">postal code</label>
        </div>
        <div class="form-outline mb-4">
          <input type="number" id="form7Example6" class="form-control" name="mno" />
          <label class="form-label" for="form7Example6">contact no:</label>
        </div>
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-2">
          <input type="submit" value="save this Address" class="btn btn-outline-primary btn-sm" >
          <label class="form-check-label" for="form7Example8">
            
          </label>
        </div>
      </form>
    </div>
  </div>
