

<%- include ('../layouts/header.ejs') %>

      <!--====== Hero Banner ======-->
        
        
<%- include ('./heroBanner.ejs') %>

        <!--====== End - Hero Banner ======-->

        <!--====== Shop by deals======-->
        

<%- include ('./shopByDeals.ejs') %>


        <!--====== Shop by deals ======-->

        <!--====== Top trending ======-->
        
        <!--====== End top trending ======-->

        <!--====== Deals of the day ======-->
        
        <!--====== End Deals of the day======-->

        <!--====== New Arrivals ======-->
        
        <!--====== End New Arrivals ======-->
      
    </div>

    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    


<%- include ('../layouts/footer.ejs') %>

