let user
const loadOtp = async (req, res) => {
    try {
        const is_user = await User.findOne({$or:[{ email: req.body.email }, { mobile: req.body.phone }]})
        console.log(is_user);
        if (is_user) {
            res.render('login', { message: 'user already exists', active: 1 })
        } else {
            const spassword = await bcrypt.hash(req.body.password, 10);
            user = new User({
                name: req.body.name,
                email: req.body.email,
                mobile: req.body.phone,
                password: spassword,
                is_admin: 0
            });
            newOtp = sendMessage(req.body.phone, res);
            console.log(newOtp);
            const userData = await User.find()
            res.render("otp", { otp: newOtp, user: userData,head:1 })
        }
    } catch (error) {
        console.log(error.message);
    }
}





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyCycle</title>
    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css stylesheet -->
    <link rel="stylesheet" href="assets/css/login.css">
    <style> span{color: red; height: 20px;} </style>
</head>

<body>
    

    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form action="/verifyOtp?id=<%=otp%>" method="post" onsubmit="return validateSignup()">
                <h1>Enter your otp</h1>

                    
                    <div class="login__field">
                        <input  type="text" placeholder="Enter Otp" name="otp" id="otp">
                    <span id="errName"></span>
                          
                    <button type="button" class="btn btn-primary btn-md"
                    id="but" style="display: none; "><a href="/resendOtp" style="color: rgb(255, 255, 255);">Resend OTP</a></button>
                    <input type="submit" value="Register" class="btn btn-primary btn-md">

                    <button button type="submit">
                        <span class="button__text">register</span>
                        <!-- <i class="button__icon fas fa-chevron-right"></i> -->
                    </button>
                    <% if(typeof message !=='undefined' ){ %>
                        <h4>
                            <%= message %>
                        </h4>
                        <% } %>

                    				
                </form>
                
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>

    <footer>
    </footer>
</body>
    
    <!-- js code -->
    <script>
        (function timer() {
            var sec = 60;
            var timer = setInterval(function () {
                document.getElementById('timer').innerHTML = 'resend otp in 00:' + sec;
                sec--;
                if (sec < 0) {
                    clearInterval(timer);
                    document.getElementById('timer').innerHTML = '';
                    document.getElementById("but").style.display = 'block';
                }
            }, 1000);
        })()
    </script>
</html>






